@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin notLastChild-mgr {
    &:not(:last-child) {
        margin-right: $gutter-horizontal;

        @include respond(tab-p) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-s;
        }
    }
}

@mixin absolute-vh-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

// base + typo > layouts > grids > page layouts > components

/*
0 - 600px:         Phone
600px - 900px:     Tablet portrait
900px - 1200px:    Tablet landscape
[1200px - 1800px]  normal styles applied
1800px - --->      Big desktop
*/

/*
$breakpoint argument choices 
- phone
- tab-p
- tab-l
- big
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media screen and (max-width: 37.5em) {
            // 600px
            @content;
        }
    }

    @if $breakpoint == tab-p {
        @media screen and (max-width: 56.25em) {
            //900px
            @content;
        }
    }

    @if $breakpoint == tab-l {
        @media screen and (max-width: 75em) {
            //1200px
            @content;
        }
    }

    @if $breakpoint == big {
        @media screen and (min-width: 112.5em) {
            //1800px
            @content;
        }
    }
}
