@keyframes moveInLeft{ 
    /*Used in .heading-primary--main*/
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    /*Used in .heading-primary--sub*/
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    /*used in .btn--animated*/
    0%{
        transform: translateY(3rem);
        opacity:0;
    }
    80%{
        transform: translateY(-.5rem);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}